*{
    padding: 0px;
    margin: 0px;
    font-family:'Work Sans', sans-serif;
}
/* nav styles here  */
.section-one{
    padding-bottom: 40px;
    margin-bottom: 80px;
    background-color: rgba(255, 144, 14, 0.1);
}
.container-one{
    width: 100%;
    max-width: 1500px ;
    margin: 0 auto;
}
.primary-btn{
    background-color: 
    #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    align-items: center;
}
nav > ul{
    display: flex;
    list-style: none;
    gap: 35px;
    color: #131313;
}
.primary-title{
    color: #131313;
    font-size: 30px;
}
/* explore styles here  */
.explore{
    text-align: center;
    padding: 7rem 0 3rem 0;
}
.explore-title{
    font-weight: 700px;
    font-size: 64px;
}
.explore-des{
    color: #727272;
    padding: 32px 0;
}
/* container img styles here  */
.container-img{
    height: 80vh;
    background-image: linear-gradient(to bottom, rgba(170, 171, 176, 0.52), rgba(255, 144, 14, 0.1)),
    url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
/* section one end here  */

/* section two styles here  */

.section-two{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
}
.gelary-container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}
.gelary-container img{
    border-radius: 5px;
}
.feature-container{
    align-items: center;
}
.feature-title{
    font-size: 45px;
    font-weight: 500;
    color: #727272;
}
.of-our{
    font-weight: 700;
    color: #131313;
}
.feature{
    color: #FF900E;
    font-weight: bolder;
}
.feature-describtion{
    color: #727272;
    font-size: 16px;
    margin: 24px 0px;
}
/* section two ends here  */

/* section three styles start here  */

.section-three{
    margin-top: 100px;
    display: flex;
    gap: 30px;
    margin-bottom: 100px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.need-border{
    border-left: #FF900E solid 5px;
    padding-left: 20px;
}
.boxes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding-left: 20px;
    height: 150px;
    width: 100%;
    /* eikhane ekta ghabla ache media quary te dekha lagbe  */
}
.box-title{
    font-size: 20px;
    color: #131313;
}
.semi-section-three{
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
}
.love-img{
   position: relative;
}
.years-btn{
    position: absolute;
    top: 50%;
    left: 0;
    width: 200px;
    height: 100px;
    border: none;
    border-radius: 2px;
}
/* section three end here  */

/* section four styles here  */
.project-boxes{
    margin-top: 80px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.project-box{
    padding: 50px;
    text-align: center;
    width: 241.83px;
    height: 130px;
    border: 1px solid #FF900E;
}
.number{
    font-size: 40px;
    padding-top: 9px;
}
.num-des{
    font-size: 20px;
    color: #727272
    ;
}
/* section four ends here  */

/* section five styles here  */



