*{
    padding: 0px;
    margin: 0px;
    font-family:'Work Sans', sans-serif;
}
/* nav styles here  */
.section-one{
    padding-bottom: 40px;
    margin-bottom: 80px;
    background-color: #FFF4E7;
}
.container-one{
    width: 100%;
    max-width: 1500px ;
    margin: 0 auto;
}
.primary-btn{
    background-color: 
    #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 1.25rem;
    border: none;
    border-radius: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    align-items: center;
}
nav > ul{
    display: flex;
    list-style: none;
    gap: 35px;
    color: #131313;
}
.nav-icn
{
    font-size: 1rem;
}
.primary-title{
    color: #131313;
    font-size: 30px;
}
/* explore styles here  */
.explore{
    text-align: center;
    padding: 7rem 0 3rem 0;
}
.explore-title{
    font-weight: 700px;
    font-size: 4rem;
}
.explore-des{
    color: #727272;
    padding: 32px 0;
}
/* container img styles here  */
.container-img{
    height: 80vh;
    background-image: linear-gradient(to bottom, rgba(170, 171, 176, 0.52), rgba(255, 144, 14, 0.1)),
    url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
/* section one end here  */

/* section two styles here  */

.section-two{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
}
.gelary-container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}
.gelary-container img{
    border-radius: 5px;
}
.feature-title{
    font-size: 2.8125rem;
    font-weight: 500;
    color: #727272;
}
.of-our{
    font-weight: 700;
    color: #131313;
}
.feature{
    color: #FF900E;
    font-weight: bolder;
}
.feature-describtion{
    color: #727272;
    font-size: 1rem;
    margin: 24px 0px;
}
/* section two ends here  */

/* section three styles start here  */

.section-three{
    margin-top: 100px;
    display: flex;
    gap: 30px;
    margin-bottom: 100px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.need-border{
    border-left: #FF900E solid 5px;
    padding-left: 20px;
}
.boxes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding-left: 20px;
    height: 150px;
    width: 100%;
    /* eikhane ekta ghabla ache media quary te dekha lagbe  */
}
.box-title{
    font-size: 20px;
    color: #131313;
}

.semi-section-three{
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
}
.love-img{
   position: relative;
}
.years-btn{
    position: absolute;
    top: 50%;
    left: 0;
    width: 200px;
    height: 100px;
    border: none;
    border-radius: 2px;
}
/* section three end here  */

/* section four styles here  */
.project-boxes{
    margin-top: 80px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.project-box{
    padding: 50px;
    text-align: center;
    width: 241.83px;
    height: 130px;
    border: 1px solid #FF900E;
}
.project-box:hover{
    transform: scale(1.1);
    z-index: 3;
    background-color: #83c224;
    border: none;
    color: #FFFFFF;
}
.number{
    font-size: 40px;
    padding-top: 9px;
}
.num-des{
    font-size: 20px;
    color: #727272
    ;
}
/* section four ends here  */

/* section five styles here  */

.section-five{
    margin-top: 100px;
    text-align: center
    ;
}
.sponspors{
    margin-bottom: 24px;
}
.logos{
    margin-top: 40px;
    display: flex;
    margin-bottom: 80px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
/* section five ends here  */

/* spacial section styles here  */
.spacial-section{
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('../images/spacial-banner.jpg');
    height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #73AD21;
    margin: 80px 0px 40px 0px;
}
.spacial-title{
    color: #FFFFFF;
    margin-bottom: 20px;
}
form input{
    margin: 10px 100px;
    font-size: 30px;
    align-items: center;
}
form p{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
}
/* footer style here  */

.footer{
    background-color: #FFF4E7;
    height: 70px;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 70px;
}
.copyright{
    color: #424242;
}






@media screen and (max-width: 576px) {

    .gelary-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .section-two{
        flex-direction: column;
    }
    .section-three{
        flex-direction: column;
    }
    .feature-container{
        align-items: center;
        text-align: center;
    }
    .love-describtion{
        padding: 20px;
    }
    .love-immg{
        width: 300px;
    }
    .years-btn{
        position: absolute;
        bottom: 0px;
        left: 25%;
        top: 100%;
    }
    .project-boxes{
        flex-direction: column;
    }
    .some-facts{
        padding-left: 10px;

    }
    .some-facts-des{
        padding-left: 10px;
    }
    
    .spacial-section{
        display: none;
    }
    .project-boxes{
        padding-left: 10px;
    }
    .architect{
        font-size: 15px;
    }
    .nav-icn{
        font-size: 0.7rem;
    }
    .copyright{
        font-size: 0.7rem;
    }
}